<template>
    <h1 class="highlight pagetitle">About</h1>
    <div class="about-card">
        A collection of 4 gay idiots who are making Minecraft mods together!
    </div>
</template>


<style scoped>
.about-card {
    display: flex;
    gap: 1em;
    padding: 1em;
    border-radius: var(--round-card);
    background-color: var(--bg-soft);
    box-shadow: var(--shadow-card);
    justify-content: center;
}
</style>