<script setup lang="ts">
defineProps({
    categories: {
        type: Array,
        default() {
            return [];
        },
    },
});
</script>

<template>
    <div class="categories">
        <span v-for="category in categories" :key="String(category)" class="tag">
            {{ category }}
        </span>
    </div>
</template>

<style scoped>
.categories {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: var(--fg);
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.4em;
    margin-bottom: 0.4rem;
}
</style>