<script setup lang="ts">
import {ref} from 'vue';

const img = ref(null);

defineProps({
    src: {
        type: String,
        default: null,
    },
    alt: {
        type: String,
        default: '',
    },
    size: {
        type: String,
        default: 'sm',
        validator(value: string) {
            return ['xxs', 'xs', 'sm', 'md', 'lg', 'none'].includes(value);
        },
    }
})
</script>

<template>
    <img
        v-if="src"
        ref="img"
        :class="`icon size-${size}`"
        :src="src"
        :alt="src"
    />
</template>

<style scoped>
.icon {
    border-radius: var(--radius-md);
    object-fit: cover;
    background-color: var(--bg-soft);
    border: 1px solid var(--border);
}

.size-xxs {
    height: 1.25rem !important;
    width: 1.25rem !important;
    max-height: 1.25rem !important;
    max-width: 1.25rem !important;
    border-radius: 5px;
}

.size-xs {
    height: 2.5rem !important;
    width: 2.5rem !important;
    max-height: 2.5rem !important;
    max-width: 2.5rem !important;
    border-radius: var(--radius-sm);
}

.size-sm {
    height: 3rem !important;
    width: 3rem !important;
    max-height: 3rem !important;
    max-width: 3rem !important;
    border-radius: var(--radius-sm);
}

.size-md {
    height: 6rem !important;
    width: 6rem !important;
    max-height: 6rem !important;
    max-width: 6rem !important;
    border-radius: var(--radius-lg);
}

.size-lg {
    height: 9rem !important;
    width: 9rem !important;
    max-height: 9rem !important;
    max-width: 9rem !important;
    border-radius: var(--radius-lg);
}
</style>