<script setup lang="ts">
import Icon from './Icon.vue';
import GitIcon from './icons/GitIcon.vue'
import ModrinthIcon from './icons/ModrinthIcon.vue'

defineProps({
    name: {
        type: String,
        default: 'lesbian',
    },
    description: {
        type: String,
        default: '',
        required: false,
    },
    role: {
        type: String,
        default: '',
    },
    git: {
        type: String,
        default: 'https://codeberg.org/sappho',
        required: false,
    },
    modrinth: {
        type: String,
        default: 'https://modrinth.com/organization/sappho',
        required: false,
    },
    iconUrl: {
        type: String,
        default: 'https://cdn-raw.modrinth.com/data/p03u3CJG/991e78363c44a4f2b1cbb26b986ae6a70b144366.png',
        required: false,
    },
});
</script>

<template>
    <article class="member-card">
        <div class="icon">
            <Icon :src="iconUrl" size="md"/>
        </div>
        <div class="content">
            <div class="name">
                <h1>{{ name }} - {{ role }}
                    <a class="extern" target="_blank" rel="noopener" v-if="git" :href="git">
                        <GitIcon/>
                    </a>
                    <a class="extern" target="_blank" rel="noopener" v-if="modrinth" :href="modrinth">
                        <ModrinthIcon/>
                    </a>
                </h1>
            </div>
            <hr/>
            <div class="description">
                <p>{{ description }}</p>
            </div>
        </div>
    </article>
</template>

<style scoped>
.member-card {
    display: flex;
    gap: 1em;
    padding: 1em;
    border-radius: var(--round-card);
    background-color: var(--bg-soft);
    box-shadow: var(--shadow-card);
}

.icon {
    border-radius: var(--radius-lg);
    size: 3em;
}

.name > h1 {
    display: flex;
    align-content: center;
}

.extern > * {
    fill: var(--accent);
    margin: 0.25em;
}

.extern {
    height: 1.75em;
    width: 1.75em;
    border-radius: 0.25em;
    margin-left: 0.25em;
    margin-bottom: 0.25em;
    /* background-color: var(--bg); */
}

.content {
    width: 100%;
}
</style>