<script setup lang="ts">
import MemberCard from './MemberCard.vue';
</script>

<template>
    <h1 class="highlight pagetitle">Members</h1>
    <div class="memberGrid">
        <MemberCard
            name="Naomi"
            iconUrl="https://avatars.githubusercontent.com/u/79906167?v=4"
            role="Developer"
            description="Java, Rust and Go developer. Lead developer of Voidborn, RPGTitles and does all of the organisational stuff."
            modrinth="https://modrinth.com/user/naomi"
            git="https://codeberg.org/naomi"
        />
        <MemberCard
            name="Serenity"
            iconUrl="https://cdn-raw.modrinth.com/user/G3XF6ymD/7ab14da3bfb9d3867fc32cb6232fa49c1f2542e4.png"
            role="Developer"
            description="Lead developer of Create: Vehicles and PaintersAPI."
            modrinth="https://modrinth.com/user/serenya"
            git="https://codeberg.org/sery"
        />
        <MemberCard
            name="Terracotta"
            iconUrl="https://cdn-raw.modrinth.com/user/3wx7Tm3I/c9fb647897a61d1c0aef3fb7d67de8ca71607826.png"
            role="Artist"
            description="Does art I guess."
            modrinth="https://modrinth.com/user/TerracottaSkye"
            git="https://codeberg.org/TerracottaSkye"
        />
        <MemberCard
            name="Maya"
            iconUrl="https://cdn-raw.modrinth.com/user/gu5xuZZX/2134c3b1c82bca4025c8a44b675cdbda7f3256c2.png"
            role="Developer"
            description="Awesome developer of Create: Estrogen."
            modrinth="https://modrinth.com/user/maya"
            git="https://codeberg.org/mayaqq"
        />
    </div>
</template>

<style scoped>
.memberGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}
</style>