<script setup lang="ts">
defineProps({
    navClasses: {
        type: Array,
        default() {
            return []
        }
    }
});
</script>

<template>
    <nav class="navbar" :class="navClasses">
        <RouterLink class="homeitem" to="/">
            <img class="logo" alt="Sappho Logo" src="../assets/logo.svg"/>
            <h1 class="highlight">The Sappho Company</h1>
        </RouterLink>
        <div class="navitems">
            <RouterLink class="navitem" to="/projects">Projects</RouterLink>
            <RouterLink class="navitem" to="/about">About</RouterLink>
            <RouterLink class="navitem" to="/members">Members</RouterLink>
        </div>
    </nav>
</template>

<style scoped>
.logo {
    height: 3.5em;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-soft);
    padding: 0.5em;
    border-radius: var(--round-card);
    min-width: 1024px;
}

@media (max-width: 1024px) {
    .navbar {
        min-width: 0;
        width: 100%;
    }
}

.navitems {
    margin-left: auto;
}

.navitem {
    margin-right: 0.6em;
    border-radius: 0.5em;
    padding: 0.6em 1em 0.6em 1em;
    color: var(--accent);
    background-color: var(--bg);
}

.navitem:hover {
    color: var(--bg);
    background-color: var(--accent);
}

.homeitem {
    display: flex;
    align-items: center;
}

.homeitem:hover {
    background-color: transparent;
    text-decoration: underline;
}

</style>