<script setup lang="ts">
import Icon from './Icon.vue';
import DownloadIcon from './icons/DownloadIcon.vue';
import HeartIcon from './icons/HeartIcon.vue';
import TagIcon from './icons/TagIcon.vue';
import Categories from './Categories.vue'

defineProps({
    id: {
        type: String,
        default: 'sappho',
    },
    name: {
        type: String,
        default: 'The Sappho Company',
    },
    author: {
        type: String,
        default: null,
    },
    description: {
        type: String,
        default: 'Very, very gay',
    },
    iconUrl: {
        type: String,
        default: '#',
        required: false,
    },
    downloads: {
        type: String,
        default: null,
        required: false,
    },
    follows: {
        type: String,
        default: null,
        required: false,
    },
    categories: {
        type: Array,
        default() {
            return []
        },
    },
});

function formatNumber(x: String, abbreviate: boolean = true): string {
    const num = +x;
    if (num >= 1000000 && abbreviate) {
        return (num / 100000).toFixed(2).toString() + "M";
    } else if (num >= 10000 && abbreviate) {
        return (num / 10000).toFixed(2).toString() + "k";
    } else {
        return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    }
}

function formatAuthor(author: String): string {
    return "by " + author;
}
</script>

<template>
    <article class="project-card">

        <div class="icon">
            <Icon :src="iconUrl" size="md"/>
        </div>

        <div class="title">
            <div class="name">{{ name }}</div>
            <RouterLink :to="`members/` + author" class="author">{{ formatAuthor(author) }}</RouterLink>
        </div>

        <div class="description">
            {{ description }}
        </div>

        <div class="stats">
            <span class="stat">
                <span class="label"><DownloadIcon/></span>
                <span class="value">{{ formatNumber(downloads) }}</span>
            </span>
            <span class="stat">
                <span class="label"><HeartIcon/></span>
                <span class="value">{{ formatNumber(follows) }}</span>
            </span>
        </div>

        <div class="tags">
            <template v-if="categories && categories.length > 0">
                <TagIcon class="label"/>
                <Categories :categories="categories"/>
            </template>
        </div>

    </article>
</template>

<style scoped>
.project-card {
    display: grid;
    gap: 0.5rem 0.75rem;
    grid-template: 'icon title actions gallery' 'icon summary actions gallery' 'icon stats actions gallery';
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content auto repeat(2, 1fr);
    position: relative;
    padding: 1rem;
    border-radius: var(--round-card);
    background-color: var(--bg-soft);
    border: var(--card-border-width) solid var(--color-card-divider);
    box-shadow: var(--shadow-card);
    width: 100%;
}

.icon {
    border-radius: var(--radius-lg);
    grid-area: 1 / 1 / 4 / 2;
    size: 3rem;
}

.title {
    display: flex;
    grid-area: 1 / 2 / 2 / 3;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
}

.name {
    font-weight: 700;
    font-size: var(--font-lg);
}

.author {
    font-weight: 700;
    font-size: var(--font-md);
    text-decoration: underline;
}

.description {
    grid-area: 2 / 2 / 3 / 3;
    font-size: var(--font-md);
}

.stats {
    grid-area: 3 / 2 / 4 / 3;
    font-size: var(--font-sm);
    display: flex;
    gap: 0.5rem 1rem;
    flex-wrap: wrap;
    grid-area: stats;
    margin-top: auto;
    margin-bottom: -2px;
    align-items: center;
}

.stat {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: center;
    line-height: 1em;
}

.label {
    min-width: 1.25rem;
    max-width: 1.25rem;
    fill: var(--text);
}

.value {
    font-size: var(--font-md);
    margin-left: 0.5rem;
}

.tags {
    grid-area: 4 / 2 / 5 / 3;
    font-size: var(--font-sm);
    display: flex;
    gap: 0.5rem 1rem;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: -2px;
    align-items: center;
}
</style>