<script setup lang="ts">
import ProjectCard from './ProjectCard.vue'
</script>

<template>
    <h1 class="highlight pagetitle">Projects</h1>
    <!--
        TODO:
        - Make downloads and followers not hardcoded
        - Implement serverSide and clientSide props
    -->
    <ProjectCard
        id="rpgtitles"
        name="RPGTitles"
        author="naomi"
        description="Small, cosmetic datapack that adds titles to small things in the game!"
        iconUrl="https://cdn-raw.modrinth.com/data/42mo3jdC/e828d8dcc2df386a1ed10d6011339ee888ed6963.png"
        downloads="8515"
        follows="119"
        :categories="['adventure', 'utility', 'decoration', 'fabric', 'forge']"
        serverSide="required"
        clientSide="unsupported"
    />
</template>