:root {
    --bg-light: #eff1f5;
    --bg-light-soft: #e6e9ef;
    --bg-light-mute: #dce0e8;

    --fg-light: #7c7f93;

    --divider-light: #bcc0cc;

    --text-light: #4c4f69;
    --subtext-light: #6c6f85;


    --bg-dark-soft: #1e1e2e;
    --bg-dark-mute: #181825;
    --bg-dark: #11111b;

    --fg-dark: #45475a;

    --divider-dark: #45475a;

    --text-dark: #cdd6f4;
    --subtext-dark: #a6adc8;


    --accent: #cba6f7;
}

:root {
    --bg: var(--bg-light);
    --bg-soft: var(--bg-light-soft);
    --bg-mute: var(--bg-light-mute);

    --fg: var(--fg-light);

    --text: var(--text-light);
    --subtext: var(--subtext-light);

    --section-gap: 160px;

    --radius-sm: 0.5rem;
    --radius-md: 0.75rem;
    --radius-lg: 1rem;

    --round-card: 1.25rem;

    --font-sm: 15px;
    --font-md: 18px;
    --font-lg: 22px;

}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: var(--bg-dark);
        --bg-soft: var(--bg-dark-soft);
        --bg-mute: var(--bg-dark-mute);

        --fg: var(--fg-dark);

        --border: var(--divider-dark);

        --heading: var(--text-dark);
        --text: var(--text-dark);
        --subtext: var(--subtext-dark);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--text);
    background: var(--bg);
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
