@import './base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

a, .highlight {
    text-decoration: none;
    color: var(--accent);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(267, 84%, 81%, 0.2);
    }
}

.pagetitle {
    text-align: center;
    margin-top: 0.5em;
    padding-bottom: 0.25em;
    margin-bottom: 0.5em;
    border-bottom: 2px solid var(--accent);
}

hr {
    color: var(--accent)
}